@theme {
    /*
    Rapidez colors
    See: https://docs.rapidez.io/5.x/theming.html#colors
    */

    --primary: #2fbc85;
    --primary-text: var(--color-white);

    --secondary: #202f60;
    --secondary-text: var(--color-white);

    --conversion: var(--color-green-700);
    --conversion-text: var(--color-white);

    --foreground-emphasis: var(--color-slate-900);
    --foreground: var(--color-slate-800);
    --foreground-muted: var(--color-slate-600);

    --border-active: var(--color-slate-800);
    --border-emphasis: var(--color-slate-400);
    --border: var(--color-slate-300);
    --border-muted: var(--color-slate-100);

    --background-active: var(--color-slate-800);
    --background-emphasis: var(--color-slate-200);
    --background: var(--color-slate-100);
    --background-muted: var(--color-slate-50);

    /* Utilities where the Rapidez colors are used */

    --color-primary: var(--primary);
    --color-primary-text: var(--primary-text);

    --color-secondary: var(--secondary);
    --color-secondary-text: var(--secondary-text);

    --color-conversion: var(--conversion);
    --color-conversion-text: var(--conversion-text);

    --text-color-emphasis: var(--foreground-emphasis);
    --text-color-default: var(--foreground);
    --text-color-muted: var(--foreground-muted);

    --border-color-active: var(--border-active);
    --border-color-emphasis: var(--border-emphasis);
    --border-color-default: var(--border);
    --border-color-muted: var(--border-muted);

    --ring-color-active: var(--border-active);
    --ring-color-emphasis: var(--border-emphasis);
    --ring-color-default: var(--border);
    --ring-color-muted: var(--border-muted);

    --outline-color-active: var(--border-active);
    --outline-color-emphasis: var(--border-emphasis);
    --outline-color-default: var(--border);
    --outline-color-muted: var(--border-muted);

    --background-color-active: var(--background-active);
    --background-color-emphasis: var(--background-emphasis);
    --background-color-default: var(--background);
    --background-color-muted: var(--background-muted);

    --color-backdrop: rgba(0, 0, 0, 0.4);

    --z-index-slideover: 120;
    --z-index-slideover-overlay: 10;
    --z-index-slideover-sidebar: 20;
}

@layer base {
    :root *,
    :root ::after,
    :root ::before,
    :root ::backdrop,
    :root ::file-selector-button {
        border-color: var(--border, currentColor);
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

@utility text {
    color: var(--text-color-default);
}

@utility bg {
    background-color: var(--background-color-default);
}

/* Remove default browser arrows for input type="number" */
.arrows-hidden[type='number']::-webkit-inner-spin-button,
.arrows-hidden[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
}

/* Firefox */
.arrows-hidden[type='number'] {
    -moz-appearance: textfield;
}

@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }
}
